.todo-item-container {
  background-color: white;
  color: #3A3131;
  padding: 1.5em 0.8em;
  display:flex;
  min-height: 27px;
}

.todo-item-container-left {
  display: flex;
}

.todo-item-complete-button {
  border: 0;
  background: none;
  cursor: pointer;
  margin-right: 2px;
}

/* bad for a11y but looks better 🤷‍ */
/* good fix: https://medium.freecodecamp.org/how-to-make-your-fancy-svg-button-accessible-83c9172c3c15 */
.todo-item-complete-button:focus {
  outline: 0;
}

.todo-item-circle {
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

.todo-item-circle-empty {
  box-sizing: border-box;
  border: 2px solid #A2ADC1;
}

.todo-item-circle-empty:hover {
  background: #a2adc12e;
}

.todo-item-circle-check {
  background: #47D80C;
  color: white;

  /*
    center children vertically and horizontally
    https://stackoverflow.com/questions/25832340/css-flexbox-vertically-horizontally-center-image-without-explicitely-defining-pa
  */
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.todo-item-circle-check > svg {
  width: 15px;
  height: 15px;
}

.todo-item-description {
  background: white;
  color: #000000;
  padding-right: 30px;
  border: none;
  font-size: 1.1em;
  font-weight: 600;
  opacity: 1;
  font-family: 'Lucida Handwriting', monospace;
  transition: all 0.5s ease;
  height: 100%;
  width: 50%;
  overflow: hidden;
  text-align: left;
}
.todo-item-description-date {
  background: white;
  color: green;
  border: none;
  font-size: 1.1em;
  font-weight: 600;
  opacity: 1;
  font-family: 'Lucida Handwriting', monospace;
  transition: all 0.5s ease;
  height: 100%;
  width: 50%;
  overflow: hidden;
  text-align: right;
}